    <section id="upload" class="section">
      <h3>Your github username: </h3>
    <%= form_with(model: @profile, local: true, multipart: true) do |form| %>
     <div class="form-group">
      <div class="field">  
      <%= label_tag :username %>
      <%= form.text_field :username %>
      </div>
      <div class="action">
         <%= form.submit 'Submit', class: 'primary primary-btn' %>
      </div>
    </div>
      <% end %>
    </section>